

@font-face {
  font-family: SFProDisplay;
  src: url('https://fonts.google.com/specimen/Inter?query=inter&sidebar.open=true&selection.family=Inter:wght@700');
}

@font-face {
  font-family: NoeDisplay;
  src: url('https://fonts.google.com/specimen/Mulish?query=muli&sidebar.open=true&selection.family=Inter:wght@700|Mulish:wght@300');
  
}

.choice_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.final-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.final_img {
  width: 12.5vw;
}

.final_choice {
  display: flex;
  flex-direction: row;
  padding: 0%;
  margin: 0%;
}

.start {

  border-radius: 10px;
  background-color: gray;

  color: white;
  padding: 15px;
  margin-top: 0px;
  width: 100px;

}

.start_choice {
  position: absolute;
  border-radius: 10px;
  background-color: gray;
  bottom: 5%;
  color: white;
  padding: 15px;
  margin-top: 0px;
  width: 100px;
}

.start_blue {
  position: absolute;
  border-radius: 10px;
  background-color: blue;
  bottom: 5%;
  color: white;
  padding: 15px;
  margin-top: 0px;
  width: 100px;
}

.ins-c {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  justify-content: center;
  align-items: center;

}

.ins {
  width: 33%;
}

.welcome {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  
}
.better {
  font-size: 45px;
}

.welcome_header {
  font-family: Noe;
  padding: 0;
  margin: 0;
  
}

.welcome_p {
  font-family: SF;
  width: 55%
}

h1 {;
  font-family: Noe;
  font-size: 72px;
}

p {
  font-size: 27px;
  font-family: SF;
  
}

i {
  font-weight: lighter;
}

.next_btn {
  margin-top: 25px;
  width: 25%;
  padding: 10px;
  background-color: blue;
  color: white;
  border: 2;
  border-radius: 25;
  border-style: solid;
  text-align: center;
  opacity: 70%;
  font-size: medium;
}

.next_btn_gray {
  margin-top: 25px;
  width: 25%;
  padding: 10px;
  background-color: gray;
  color: white;
  border: 2;
  border-radius: 25;
  border-style: solid;
  text-align: center;
  opacity: 70%;
}

.choice_img {
  height:60vh;
}


.choice_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  
}

.choice_container_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.choice_div {
  position: relative;
  width: 50vw;
  text-align: center;

}

.choice_vid {
  
  /* top: -100px; */

  display: inline-block;
  margin: 0 auto;

  opacity: 50%;
  border-radius: 25px;
  background-color: white;
  text-align: center;

}

.with_border {
  border: 5px;
  border-color: blue;
  border-style: solid;
}

.no_border {
  border: 0px;
}

